<header>
  <div class="toolbar" role="banner">
    <h1 class="title">{{ title }} V1.2</h1>
    <div class="spacer"></div>
    <h3>By <a href="https://github.com/PRAXEDES11" class="link-style">PRAXEDES</a></h3>
  </div>
</header>
<main>
  <div class="content" role="main">
    <div class="form-container">
      <h1>{{ title }}</h1>
      <hr class="divider">
      <p class="description">Bienvenido al Gestor de Tareas V1.2 By <a href="https://github.com/PRAXEDES11">PRAXEDES</a>,
        una aplicación sencilla y eficiente para manejar tus tareas diarias. Esta aplicación te permite añadir, visualizar
        y eliminar tareas de una manera muy intuitiva.</p>
      <p class="description">Escribe aquí las tareas que tengas pendientes para agregarlas al tablero:</p>
  
      <form (submit)="agregarTarea(); $event.preventDefault()" class="textarea-container" role="form">
        <textarea [(ngModel)]="nuevaTarea" name="nuevaTarea" placeholder="Nueva tarea" required class="casilla"
          maxlength="200" #tarea="ngModel"></textarea>
        <p class="character-count">{{ remainingCharacters }} /200</p>
        <button type="submit" [disabled]="tarea.invalid" class="add-button"><img src=".\assets\enviar.png"
            alt="Agregar"></button>
      </form>
      <hr class="divider">
    </div>
    <div class="task-board">
      <div class="card-container" role="list">
        <div class="card" [class.expanded]="isExpanded(i)" (click)="toggleExpand(i)"
          *ngFor="let tarea of tareas; index as i">
          {{ tarea }}
          <button *ngIf="isExpanded(i)" (click)="eliminarTarea(i); $event.stopPropagation()" class="delete-button">
            <img src=".\assets\borrar.png" alt="Eliminar">
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
